{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  {{ super() }}
  Home
{% endblock %}

{% block content %}
  {% if username %}
  <h1>Bienvenido, {{ username | capitalize }}</h1>
  {% endif %}

  {% if user_ip %}
  <h3>Tu IP es {{ user_ip }}</h3>
  {% else %}
  <a href="{{ url_for('index') }}">Inicio</a>
  {% endif %}

  <div class="container">
    <h2>Crea una nueva tarea</h2>
      {{ wtf.quick_form(todo_form) }}
  </div>

  <div class="container mt">
    <ul class="list-group">
      {% for todo in todos %}
        {{ macros.render_todo(todo, delete_form, update_form) }}
      {% endfor %}
    </ul>
  </div>
{% endblock  %}
