{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Signup
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Registra una cuenta</h1>
        {{ wtf.quick_form(signup_form) }}
    </div>
{% endblock %}